[:div
 [:p "Adjectives [:i bijvoeglijke naamwoorden] modify nouns [:i zelfstandige naamwoorden]. Adverbs [:i bijwoorden], in turn, modify
      adjectives. Here are some examples of an adjective modified by
      an adverb:"]
 [:show-examples
  [{:cat :adjective
    :mod nil
    :subcat []
    :phrasal? true
    :head {:phrasal? false}
    :comp {:phrasal? false}}]]]

