[:div 
 [:p "How to say 'I need...'?"]
 [:show-examples
  [{:phrasal? true
    :head {:rule "adverb-nodig"
           :comp {:rule "vp"
                  :head {:infl :present :phrasal? false}
                  :comp {:pronoun? true}}}
    :comp {:pronoun? true
           :phrasal? false}
    :subcat []
    :cat :verb
    :infl :present
    :sem {:tense :present
          :aspect :simple
          :pred :need}}]]]

