[:div
 [:p "The regular past simple in Dutch is created by taking the verb stem (the verb minus the " [:i "en"] " suffix), and adding:"]
 [:ul
  [:li "-te or -de for the singular, or"]
  [:li "-ten or -den for the plural."]
  ]
 [:show-examples
  [{:major-tags ["verbs"]
    :minor-tags ["past-simple-regular"]
    :phrasal? true
    :subcat []
    :cat :verb
    :infl :past-simple
    :sem {:obj {:top :top}}
    :head {:modal false
           :head {:phrasal? false
                  :irregular-past-simple? false
                  :subcat {:2 {:cat :noun}}}}}
   
   {:major-tags ["verbs"]
    :minor-tags ["past-simple-regular"]
    :phrasal? true
    :subcat []
    :cat :verb
    :infl :past-simple
    :sem {:obj :none}
    :head {:modal false
           :irregular-past-simple? false
           :phrasal? false}}]]]

