[:div
 [:p "The first verb construction we will look at is a pronoun subject with a
      present tense verb."]
 [:show-examples
  [{:head {:curriculum :basic
           :phrasal? false}
    :cat :verb,
    :infl :present
    :phrasal? true
    :subcat []
    :comp {:pronoun? true
           :interrogative? false}}]]]
