[:div
 [:p "Unlike in English, but as in German or Romance languages, nouns"
  " in Dutch have a gender. There are two genders: " [:b "common"] " and " [:b "neuter"] "."]
 [:p "There are two definite articles in Dutch: " [:i "de"]
  " and " [:i "het"] ". A noun will always use " [:i "de"] " when it's plural, regardless of the noun's gender:"]
 [:show-examples
  [{:cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}
    :agr {:number :plur}}]]
 [:p "But when the noun is singular, the article used depends on the noun's gender."]
 [:ul
  [:li "If the noun is of " [:b "common"] " gender, then the definite article is " [:i "de"] ", for example:"
   [:show-examples
    [{:cat :noun
      :rule "np:2"
      :subcat []
      :sem {:quant :the}
      :agr {:gender :common
            :number :sing}
      :phrasal? true
      :head {:phrasal? false}}]]]
  [:li "If the noun is of " [:b "neuter"] " gender, then the definite article is " [:i "het"] ", for example:"
   [:show-examples
    [{:cat :noun
      :rule "np:2"
      :subcat []
      :sem {:quant :the}
      :agr {:gender :neuter
            :number :sing}
      :phrasal? true
      :head {:phrasal? false}}]]]]]

