[:div
 [:p "There are four demonstrative articles:"]
 [:ul
  [:li [:i "deze"] " - used for 'this' with " [:b "common"] " nouns, and for 'these' with all nouns"]
  [:li [:i "dit"] " - used for 'this' with " [:b "neuter"] " nouns"]
  [:li [:i "die"] " - used for 'that' with " [:b "common"] " nouns, and for 'those' with all nouns"]
  [:li [:i "dat"] " - used for 'that' with " [:b "neuter"] " nouns"]]
 
 [:show-examples
  [{:cat :noun
    :subcat []
    :phrasal? true
    :comp {:phrasal? false
                 :sem {:pred :this}}}
   {:cat :noun
          :subcat []
    :phrasal? true
    :comp {:phrasal? false
           :sem {:pred :that}}}]
  10]]

