[:div
 [:p "A noun's article can be a " [:b "possessive article"] ", for example:"]
 [:show-examples
  [{:cat :noun
    :subcat []
    :phrasal? true
    :head {:phrasal? false
           :subcat {:1 {:cat :det}}}
    :comp {:phrasal? false
           :possessive? true}}]]
 [:p "The possessive has two forms for 1st person plural: it can either " [:i "ons"] ", if the noun is both singular and of neuter gender (a 'het' word):"]
 [:show-examples
  [{:cat :noun
    :subcat []
    :phrasal? true
    :head {:phrasal? false
           :agr {:gender :neuter
                 :number :sing}
           :subcat {:1 {:cat :det}}}
    :comp {:phrasal? false
           :sem {:pred :we}
           :possessive? true}}]]
 
 [:p "Or otherwise " [:i "onze"] ":"]
 [:show-examples
  [{:cat :noun
    :subcat []
    :phrasal? true
    :head {:phrasal? false
           :agr {:gender :common
                 :number :sing}
           :subcat {:1 {:cat :det}}}
    :comp {:phrasal? false
           :sem {:pred :we}                 
           :possessive? true}}
   {:cat :noun
    :subcat []
    :phrasal? true
    :head {:phrasal? false
           :agr {:number :plur}
           :subcat {:1 {:cat :det}}}
    :comp {:phrasal? false
           :sem {:pred :we}                 
           :possessive? true}}]]]

