[:div

 [:h3 "Third person singular"]
 
 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :agr {:person :3rd
                        :number :sing}}}
    :subcat []
      :sem {:pred :see
            :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   ]]
 
 [:h3 "Third person plural"]
 
 [:show-examples
  [
   {:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :agr {:person :3rd
                        :number :plur}}}
    :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}]]]

