[:div
 [:h3 "First person"]
 
 [:p "Singular can be either " [:i "me"] " or " [:i "mij"]
  ", depending on emphasis:"]

 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :canonical "me"
                  :agr {:person :1st
                        :number :sing}}}
      :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   
   {:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :canonical "mij"
                  :agr {:person :1st
                        :number :sing}}}
    :subcat []
    :sem {:pred :see
            :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   ]]
 
 [:p "Plural is always " [:i "ons"] ":"]
 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :agr {:person :1st
                        :number :plur}}}
    :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                               :head {:phrasal? false}}}}]]
 
 [:h3 "Second person"]
 
 [:p "Singular informal can be either " [:i "je"] " or " [:i "jij"]
  "; I'm not sure if there is any distinction in meaning:"]
 
 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :canonical "je"
                  :agr {:person :2nd
                        :number :sing}}}
    :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   
   {:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :canonical "jou"
                  :agr {:person :2nd
                        :number :sing}}}
    :subcat []
      :sem {:pred :see
            :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   ]]

 [:p "Plural informal is always " [:i "jullie"] ":"]
  
 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :sem {:pred :you
                        :ref {:context :informal}}
                  :agr {:person :2nd
                        :number :plur}}}
    :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   
   ]]

 [:p "Polite is always " [:i "u" ] " regardless of number:"]
 [:show-examples
  [{:major-tags ["pronouns"]
    :minor-tags ["object"]
    :example "Ik zie haar niet"
    :max-depth 3
    :reflexive? false
    :cat :verb
    :head {:comp {:pronoun? true
                  :sem {:ref {:context :polite}}
                  :agr {:person :2nd}}}
    :subcat []
    :sem {:pred :see
          :obj {:obj :none}}
    :training-wheels {:head {:rule "vp"
                             :head {:phrasal? false}}}}
   ]]]

 
