[{:name "Adjectives"
  :child [{:name "Adjectives and Adverbs"
           :href "adjectives"}]}
 {:name "Nouns"
  :child [{:name "Number"
           :href "nouns/number"}
          {:name "Gender"
           :href "nouns/definite-articles"}
          {:name "Possessive articles"
           :href "nouns/poss"}
          {:name "Indefinite articles and adjectives"
           :href "nouns/indef-adj"}
          {:name "Nouns with numbers"
           :href "nouns/numbers"}]}]
