[{:name "Adjectives"
  :child [{:name "Adjectives and Adverbs"
           :href "adjectives"
           :guide [:p "Adjectives modify nouns. Adverbs, in turn, modify adjectives. Here are some examples of an adjective modified by an adverb:"]
           :examples
           [{:cat :adjective
             :mod nil
             :subcat []
             :phrasal true
             :head {:phrasal false}
             :comp {:phrasal false}}]}]}
 {:name "Nouns"
  :child [{:name "Gender"
           :href "nouns/definite-articles"}
          {:name "Number"
           :href "nouns/number"}
          {:name "Possessive articles"
           :href "nouns/poss"}
          {:name "Indefinite articles and adjectives"
           :href "nouns/indef-adj"}]}]
