[{:name "Adjectives"
  :child [{:name "Adjectives and Adverbs"
           :href "adjectives"}]}
 {:name "Nouns"
  :child [{:name "Plurals"
           :href "nouns/number"}
          {:name "Gender"
           :href "nouns/definite-articles"}
          {:name "Possessive articles"
           :href "nouns/poss"}
          {:name "Indefinite articles and adjectives"
           :href "nouns/indef-adj"}
          {:name "Demonstratives"
           :href "nouns/demonstratives"}
          {:name "Numbers"
           :href "nouns/numbers"}]}
 {:name "Verbs"
  :child [{:name "Pronouns and Present Tense"
           :href "verbs/subject-pronouns-and-present-tense"}]}]
