[{:note "intensifier adjective"
  :major-tags ["adjectives"]
  :example "ongewoon slim"
  :cat :adjective
  :mod nil
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["definite-articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :sing}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :the}}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :plur}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :the}}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :sing}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :some}}}

 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["demonstratives"]
  :example "deze kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :this}}}

 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["demonstratives"]
  :example "die kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :that}}}
 
 {:major-tags ["nouns"]
  :minor-tags ["poss"]
  :example "zijn kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :he}}}
 
 {:major-tags ["nouns"]
  :minor-tags ["poss"]
  :example "zijn kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :she}}}

 {:major-tags ["nouns"]
  :minor-tags ["indef-adj"]
  :example "een oud huis"
  :sem {:mod {:first {:number? false}
              :rest []}
        :quant :some
        :ref {:number :sing}}
  :subcat []
  :phrasal true
  :cat :noun
  :head {:phrasal true}
  :comp {:phrasal false}}


 {:major-tags ["nouns"]
  :minor-tags ["number"]
  :example "de oude huizen"
  :sem {:mod []
        :quant :the
        :ref {:number :plur}}
  :subcat []
  :phrasal true
  :cat :noun
  :head {:phrasal false}
  :comp {:phrasal false}}
  
 {:major-tags ["nouns"]
  :minor-tags ["numbers"]
  :level :basic
  :example "de vier vogels"
  ;; force the np to have a compound number e.g. "vier en twintig":
  :head {:head {:curriculum :basic}
         :comp {:rule "conj-outer"}}
  :cat :noun
  :subcat []
  :sem {:quant :the
        :ref {:number :plur}
        :mod {:first {:number? true}
              :rest []}}
  :phrasal true}

 {:major-tags ["nouns"]
  :minor-tags ["numbers"]
  :level :intermediate
  :example "de vier en twintig kleine vogels"
  :cat :noun
  :subcat []
  :sem {:quant :the
        :ref {:number :plur}
        :mod {:first {:number? true}
              :rest {:first {:number? false
                             :rest []}}}}
  :phrasal true}

 {:major-tags ["verbs"]
  :minor-tags ["subject-pronouns" "present" "subject-pronouns-and-present-tense"]
  :example "ik slaap",
  :head {:curriculum :basic
         :phrasal false}
  :cat :verb,
  :infl :present
  :phrasal true,
  :subcat [],
  :comp {:pronoun true}}

 {:major-tags ["verbs"]
  :minor-tags ["past-simple-regular"]
  :phrasal true
  :cat :verb
  :infl :past-simple
  :sem {:obj :unspec}
  :head {:modal false
         :irregular-past-simple? false}
  :comp {:pronoun true
         :interrogative? false}}

 {:major-tags ["verbs"]
  :minor-tags ["past-simple-irregular"]
  :phrasal true
  :cat :verb
  :infl :past-simple
  :sem {:obj :unspec}
  :head {:modal false
         :irregular-past-simple? true}
  :comp {:pronoun true
         :interrogative? false}}

  ;; e.g. you need me
 {:major-tags ["verbs"]
  :minor-tags ["nodig" "present"]
  :phrasal true
   :head {:rule "adverb-nodig"
         :comp {:rule "vp"
                :head {:infl :present :phrasal false}
                :comp {:pronoun true}}}
  :comp {:pronoun true}
  :subcat []
  :cat :verb
  :infl :present
  :sem {:tense :present
        :aspect :simple
        :pred :need}}


 {:major-tags ["verbs"]
  :minor-tags ["reflexive" "present"]
  :note "Sentence with reflexive object"
  :example "ik zie me"
  :generic true
  :max-depth 3
  :cat :verb
  :comp {:pronoun true
         :phrasal false}
  :subcat []
  :phrasal true
  :reflexive true
  :sem {:tense :present
        :aspect :simple
        :pred :see}}

 ]


