[{:note "intensifier adjective"
  :major-tags ["adjectives"]
  :example "ongewoon slim"
  :cat :adjective
  :mod nil
  :subcat []
  :phrasal true
  :head {:phrasal false}
  :comp {:phrasal false}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["definite-articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :sing}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :the}}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :plur}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :the}}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :some}}}
 
 {:note "article+noun"
  :major-tags ["nouns"]
  :minor-tags ["articles"]
  :example "de kat"
  :cat :noun
  :subcat []
  :phrasal true
  :agr {:number :sing}
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :some}}}
 
 {:major-tags ["nouns"]
  :minor-tags ["poss"]
  :example "zijn kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :he}}}
 
 {:major-tags ["nouns"]
  :minor-tags ["poss"]
  :example "zijn kat"
  :cat :noun
  :subcat []
  :phrasal true
  :head {:phrasal false
         :subcat {:1 {:cat :det}}}
  :comp {:phrasal false
         :sem {:pred :she}}}

 {:major-tags ["nouns"]
  :minor-tags ["indef-adj"]
  :example "een oud huis"
  :sem {:mod {:first {:number? false}
              :rest []}
        :quant :some
        :ref {:number :sing}}
  :subcat []
  :phrasal true
  :cat :noun
  :head {:phrasal true}
  :comp {:phrasal false}}

 {:major-tags ["nouns"]
  :minor-tags ["numbers"]
  :example "de vier kliene vogels"
  :cat :noun
  :mod nil
  :sem {:quant :the
        :mod {:first {:number? true}
              :rest {:first {:number? false}
                     :rest []}}}
  :phrasal true
  :training-wheels {:head {:comp {:phrasal false}
                           :head {:comp {:phrasal false}
                                  :head {:phrasal false}}}
                    :comp {:cat :det}}}
  
 {:major-tags ["nouns"]
  :minor-tags ["numbers"]
  :example "de vier en twintig kleine vogels"
  :cat :noun
  :subcat []
  :sem {:quant :the
        :ref {:number :plur}
        :mod {:first {:number? true}
              :rest {:first {:number? false
                             :rest []}}}}
  :phrasal true
  :training-wheels {:comp {:cat :det}
                    :head {:comp {:comp {:phrasal false}
                                  :head {:head {:phrasal false
                                                :sem {:number? true}}
                                         :comp {:phrasal false}}}
                           :head {:head {:phrasal false}
                                  :comp {:phrasal false}}}}}]


