[{:name "Adjectives"
  :child [{:name "Adjectives and Adverbs"
           :href "adjectives"}]}
 {:name "Pronouns"
  :child [{:href "pronouns/object-12"
           :name "Object pronouns: 1st and 2nd person"}
          {:href "pronouns/object-3"
           :name "Object pronouns: 3rd person"}]}
 {:name "Nouns"
  :child [{:name "Plurals"
           :href "nouns/number"}
          {:name "Gender"
           :href "nouns/definite-articles"}
          {:name "Possessive articles"
           :href "nouns/possessives"}
          {:name "Indefinite articles and adjectives"
           :href "nouns/indef-adj"}
          {:name "Demonstratives"
           :href "nouns/demonstratives"}
          {:name "Numbers"
           :href "nouns/numbers"}]}
 {:name "Verbs"
  :child [{:name "Pronouns and Present Tense"
           :href "verbs/subject-pronouns-and-present-tense"}
          {:name "Regular Simple Past"
           :href "verbs/past-simple-regular"}
          {:name "Irregular Simple Past"
           :href "verbs/past-simple-irregular"}
          {:name "Nodig"
           :href "verbs/nodig"}]}


 {:name "Woodenlijst"
 :child [{:name "Woordenlijst 1"
          :href "woordenlijst/1"}]}]
 

