div.language {
    float:left;
    width:45%;
    margin:1%;
}

div.behind-the-scenes {
    font-family: monospace;
    border: 2px solid #edd;
    padding: 1em;
    background:#eee;
    font-size:small;
    border-radius: 5px;
    min-height: 1.5em;
}

div.behind-the-scenes b {
    font-size:100%;
}

div.behind-the-scenes i {
    font-family: sans-serif;
    font-size:large;
}

div.syntax-tree {
    display:none;
}
