.main {
    padding:0.25em;
}

#app {
    float:left;
}

#answer {
    position: absolute;
    right: 10%;
    top: 15%;
    font-size:large;
    background:aliceblue;
    color:red;
    font-size:200%;    
    border-radius: 5px;
    border:2px solid blue;
    padding:0.5em;
}

#praise {
    position: absolute;
    left: 10%;
    top: 15%;
    font-weight:bold;
    font-size:200%;
    background:orange;
    color:white;
    border-radius: 5px;
    border:2px solid blue;
    padding:0.5em;
}

.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

header {
    padding:0;
    margin:0.5em;    
    float:left;
}

footer {
    float:right;
    margin:0.5em;
    right:0;
    position:absolute;
    bottom:0;
    text-align:right;
    font-size:small;
}

input {
    padding:0.5em;
    margin:0.5em;
    border-radius: 5px;
    font-size:80%;
}

table {
    margin:0.5em;
    border-collapse:collapse;
}

th {
    padding-right:1em;
}

td {
}


tr.even {
    background:aliceblue;
}

td.source {
    text-align:left;
    padding-right:1em;
}

td.target {
    text-align:right;
}

div.question-and-guess {
    margin-top:0.25em;
    float:left;
    border:3px solid lightblue;
    border-radius: 5px;
}

div.question-and-guess button {
    float:right;
}

div.question {
    font-size:80%;
    float:left;
}

div.guess {
    float:left;
}

footer > p {
    white-space:nowrap;
}
