.main {
    padding:0.25em;
}

#app {
    float:left;
}

#answer {
    position: absolute;
    right: 10%;
    top: 20%;
    font-size:large;
    background:aliceblue;
    color:red;
    font-size:200%;    
    border-radius: 5px;
    border:2px solid blue;
    padding:0.5em;
}

#praise {
    position: absolute;
    left: 20%;
    top: 15%;
    font-weight:bold;
    font-size:large;
    background:orange;
    color:white;
    border-radius: 5px;
    border:2px solid blue;
    padding:0.5em;
}

.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
  padding-left:0.25em;
  padding-right:0.25em;
}

a:hover {
  text-decoration: underline;
}

header {
    padding:0;
    margin:0.5em;    
    float:left;
    border-bottom:3px lightblue solid;
    line-height:1em;
}

footer {
    position:absolute;
    float:right;
    width:100%;
    left:0;
    font-size:small;
    bottom:0;
}

input {
    padding:0.5em;
    margin:0.5em;
    border-radius: 5px;
    font-size:80%;
}

table {
    border-collapse:collapse;
}

th {
}

td {
}


tr.even {
    background:aliceblue;
}

td.source {
    text-align:left;
    padding-right:1em;
}

td.target {
    text-align:right;
}

div.question-and-guess {
    margin-top:0.25em;
    float:left;
    border-radius:10px;
    background:#eee;
    padding:0.25em;
    box-shadow: -2px 1px 2px 0px rgba(209,209,209,1);
}



div.question-and-guess button {
    float:left;
}

div.question {
    float:left;
}

div.guess {
    float:left;
}

footer > p {
    white-space:nowrap;
}

#test {
    float: left;
    border: 0px dashed green;
    font-size:small;
    width:90%;
}

#test > div {
    border:0px dashed blue;
    margin:0.25em;
    padding:0;
    float:left;
    width:90%;
    text-align:right;
}

#test > table {
    text-align:left;
}


h4 {
    float:left;
    width:auto;
    text-align:left;
    border:0px dashed red;
    margin:0.25em;
}

.code {
    font-family:monospace;
}

.ok {
    background:lightgreen;
}

ul.code li {
    width:100%;
    float:left;
    font-family: monospace;
}

table.eval th, table.eval td {
    text-align:left;
    border:1px solid black;
}

a.debug {
    display:none;
    font-family:monospace;
}

div.curriculum {
    position:absolute;
    right:1%;
    top:2%;
    overflow:scroll;
    border-radius:10px;
    font-size:small;
    float:right;
    background:#eee;
    width:30%;
    box-shadow: -2px 1px 2px 0px rgba(209,209,209,1);
}

div.curriculum ul {
    padding-left:0.5em;
    list-style:none;
    list-style-position: inside;
}

div.curriculum h1 {
    font-size:small;
    margin:0;
}

div.curr-major {
    width:100%;
    float:left;
    border:0px dashed blue;
}

div.curr-major div.button {
    width:100%;
    float:left;
    border:1px dashed red;
    position:relative;
    right:0;
    top:0;
}

div.dontknow {
    margin:0.5em;
}

div.curr-major button {
    float:right;
}

div.curr-major h4 {
    writing-mode: vertical-lr;
    text-orientation: inherit;
    width:auto;
}

div.curr-major h4.normal {
    writing-mode: inherit;
    text-orientation: inherit;
    width:auto;
}


a.selected {
    padding-left:0.25em;
    padding-right:0.25em;
    background:lightblue;
}

div.answertable {
    left:3em;
    width:75%;
    overflow:scroll;
    white-space:nowrap;
    padding:0;
    margin:0;
    padding-top:1em;
    position:relative;
}

div.answertable table {
    width:100%;
    border-collapse:collapse;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    div.curriculum {
	width:25%;
	max-height:28%;
	left:64%;
    }

    div.answertable {
	left:0.5em;
    }

    div.answertable th {
	width:auto;
	padding:0.125em;
    }
    div.answertable td {
	width:auto;
	padding:0.125em;
    }
}
