[:div

 {:meta {:use-model "woordenlijst"
         :comment "example comment"}}

 [:p "Woordenlijst 1"]

 [:p "Some examples from this set:"]

 [:show-examples
  [{:model "woordenlijst"
    :agr {:number :plur}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}}
   {:model "woordenlijst"
    :agr {:number :sing}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :some}}]]]
