[:div

 {:meta {:use-model "woordenlijst"
         :comment "example comment"}}

 [:p "Hoofdstuk 3"]

 [:p "Some examples from this set:"]

 [:show-examples
  [{:model "woordenlijst"
    :agr {:number :plur}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}
    :head {:curriculum {:hoofdstuk "3"}}}

   {:model "woordenlijst"
    :agr {:number :sing}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}
    :head {:curriculum {:hoofdstuk "3"}}}]]]
