[:div

 {:meta {:use-model "woordenlijst"
         :comment "example comment"}}

 [:p "Hoofdstuk 5"]

 [:p "Some examples from this set:"]

 [:show-examples
  [{:model "woordenlijst"
    :agr {:number :plur}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}
    :head {:curriculum {:hoofdstuk "5"}}}
    
   {:model "woordenlijst"
    :agr {:number :sing}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :some}
    :head {:curriculum {:hoofdstuk "5"}}}

   {:model "woordenlijst"
    :agr {:number :sing}
    :cat :noun
    :rule "np:2"
    :phrasal? true
    :subcat []
    :sem {:quant :the}
    :head {:curriculum {:hoofdstuk "5"}}}]]]
